<input type="text" placeholder="test plain input">
<ion-content [fullscreen]="true" class="ion-padding">
  <form [formGroup]="form" (ngSubmit)="add_book()">

    <ion-item>
      <ion-label position="stacked">Title</ion-label>
      <ion-input formControlName="title" type="text" placeholder="Book title"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="title.invalid && title.touched">
      Title is required.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Author</ion-label>
      <ion-input formControlName="author" type="text" placeholder="Author name"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="author.invalid && author.touched">
      Author is required.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Publish Date</ion-label>
      <ion-input formControlName="publish_date" type="date"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="publish_date.invalid && publish_date.touched">
      Publish date is required.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Image URL</ion-label>
      <ion-input formControlName="image" type="text" placeholder="http://..."></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="image.invalid && image.touched">
      Image URL is required.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Category</ion-label>
      <ion-input formControlName="category" type="text" placeholder="e.g., Fiction, Biography"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="category.invalid && category.touched">
      Category is required.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Contact Name</ion-label>
      <ion-input formControlName="contact" type="text"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="contact.invalid && contact.touched">
      Contact name is required.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Phone</ion-label>
      <ion-input formControlName="phone" type="tel" placeholder="123-456-7890"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="phone.invalid && phone.touched">
      Phone is required.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Email</ion-label>
      <ion-input formControlName="email" type="email"></ion-input>
    </ion-item>
    <ion-note color="danger" *ngIf="email.invalid && email.touched">
      Valid email is required.
    </ion-note>

    <ion-item>
      <ion-label position="stacked">Abstract</ion-label>
      <ion-textarea formControlName="abstract" rows="4" placeholder="Short summary of the book"></ion-textarea>
    </ion-item>
    <ion-note color="danger" *ngIf="abstract.invalid && abstract.touched">
      Abstract is required.
    </ion-note>

    <ion-button expand="block" type="submit" [disabled]="form.invalid">
      Submit
    </ion-button>
  </form>
</ion-content>