<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Welcome to Book Portal
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        Hello, Book Lover!
      </ion-card-title>
      <ion-card-subtitle>
        Discover, add, and manage your favorite books.
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-button routerLink="/tabs/add-book">Add Book</ion-button>
      <ion-button routerLink="/tabs/book-list">Book List</ion-button>
      <ion-button expand="block" routerLink="/tabs/book-list" color="medium">
        View Book List
      </ion-button>
    </ion-card-content>
  </ion-card>

  